@use "../common";

window.BackgroundPanelShadow {
    .background-panel-shadow {
        box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3);
        border-radius: common.$background-panel-border-radius;
    }
}
