@use "../common";

window.BarScrim {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

window.BarBackground {
    @include common.glassy-background;
    color: common.$fg-color;
    font-family: common.$font;
    box-shadow: none;
    border-radius: common.$panel-border-radius;
}

window.BarShadow {
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: common.$panel-border-radius;
    margin: common.$panel-margin;
    margin-bottom: 0;
}

window.BarForeground {
    main {
        box-shadow: none;
        border-radius: common.$panel-border-radius;

        .bar-button > button,
        .bar-chip > button,
        .bar-button > menubutton > button,
        button.bar-button {
            -gtk-icon-size: 16px;
            border-radius: 0;
            border: none;
            padding: 0 12px;
            min-width: 16px;
            min-height: 32px;
            background: none;
            font-size: 16px;
            font-weight: 400;
            transition: all 0.2s ease;

            &:hover,
            &:active,
            &:checked,
            &.active {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .bar-gloss {
        @include common.glassy-background;
        background-color: transparent;
        border-radius: common.$panel-border-radius;
    }
}
