@use "../common";

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0);
    }
}

window.DockBackground {
    @include common.glassy-background;
    box-shadow: none;
    border-radius: common.$panel-border-radius;
    // this is needed otherwise we get 'Failed to flush Wayland connection' error
    min-width: 1px;
}

window.DockShadow {
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: common.$panel-border-radius;
    margin: common.$panel-margin 0;
    margin-top: 0;
}

window.DockForeground {
    background: transparent;
    color: common.$fg-color;
    font-family: common.$font;
    font-weight: 300;
    font-size: 16px;

    .dock-gloss {
        @include common.glassy-background;
        background: transparent;
        border-radius: common.$panel-border-radius;
        padding: 0 common.$panel-padding;
    }

    main {
        padding: 0 common.$panel-padding;
        border-radius: common.$panel-border-radius;

        .dock-item {
            margin: 0;
            padding: 0;
            background: transparent;

            .squircle {
                opacity: 0;
                transition: opacity 0.2s ease;
            }

            &.opening .icon-image {
                animation: wiggle linear 0.5s 3;
            }

            &.active {
                .squircle {
                    opacity: 1;
                }

                &:hover,
                &:active,
                &:checked {
                    .squircle {
                        opacity: 1;
                    }
                }
            }
        }

        button.dock-item,
        menubutton.dock-item > button {
            padding: 0;
            background: none;

            &:hover {
                background: none;

                .squircle {
                    opacity: 0.5;
                }
            }

            &:checked,
            &:active {
                background: none;

                .squircle {
                    opacity: 0.75;
                }
            }
        }

        .dock-item.search-icon {
            .squircle {
                opacity: 1;
                filter: brightness(1.1);
                transition: filter 0.4s ease;
            }

            &:hover {
                .squircle {
                    opacity: 1;
                    filter: brightness(1.3);
                }
            }

            &:checked,
            &:active {
                .squircle {
                    opacity: 1;
                    filter: brightness(1.4);
                }
            }
        }

        .notif-count {
            background-color: common.$accent-2;
            margin: 0 0 0;
            padding: 0 8px 1px 8px;
            font-weight: 600;
            border-radius: 5px;
            font-size: 14px;
            box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
        }
    }
}
