@use "../common.scss";

.display-clock-calendar-container {
    @include common.glassy-background;
    border-radius: common.$background-panel-border-radius;

    .display-clock-calendar {
        color: rgba(255, 255, 255, 0.6);
        font-family: "Ode to Idle Gaming";
        margin-top: -20px;

        .clock-time {
            font-size: 154px;

            .clock-time-hours {
                color: common.$accent-2;
            }
        }

        .clock-date {
            font-size: 60px;
            margin-top: -56px; // Pull it up slightly closer to the time if needed, or adjust

            .clock-date-month {
                color: common.$accent-2; // Placeholder color, adjust as needed
            }
        }
    }
}
