@use "../common";

.hourly-weather-item {
    padding: 12px 0;
    font-size: 20px;

    .date {
        font-size: 14px;
        opacity: 0.6;
    }

    .time {
        font-size: 18px;
    }

    .weather-type-icon {
        -gtk-icon-size: 48px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .rain-probability {
        font-size: 16px;
    }

    .weather-data {
        font-size: 16px;
    }
}

.weather-panel {
    border-radius: common.$background-panel-border-radius;
    @include common.glassy-background;
    box-shadow: none;

    .current-weather {
        font-family: Bebas Neue;
        border-right: 1px solid rgba(255, 255, 255, 0.1);

        .temp {
            font-size: 60px;

            image {
                margin-top: -6px;
                margin-right: 12px;
            }
        }

        .rain-and-humidity {
            margin: -12px 0 -4px 0;
        }

        .rain,
        .humidity,
        .wind-speed {
            font-size: 40px;
        }

        .wind {
            padding-right: 12px;
        }
    }

    .gloss {
        border-radius: common.$background-panel-border-radius;
        @include common.glassy-background;
        background: none;
        border: none;
    }

    .wind-indicator {
        image {
            color: rgb(common.$accent-2-rgb);
        }
    }

    .hourly-list {
        .hourly-weather-item {
            padding: 12px 24px;
            font-size: 20px;
        }
    }
}
