@use "../common";

.hourly-weather-item {
    padding: 12px 0;
    font-size: 20px;

    .date {
        font-size: 14px;
        opacity: 0.6;
    }

    .time {
        font-size: 18px;
    }

    .weather-type-icon {
        -gtk-icon-size: 48px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .rain-probability {
        font-size: 16px;
    }

    .weather-data {
        font-size: 18px;

        image {
            -gtk-icon-size: 22px;
        }
    }
}

.weather-panel {
    border-radius: common.$background-panel-border-radius;
    @include common.glassy-background;
    box-shadow: none;

    .current-indicator {
        color: rgb(common.$accent-2-rgb);
        -gtk-icon-size: 24px;
        margin-left: -4px;
    }

    .hourly-weather-item {
        &.current {
            background-color: rgba(common.$accent-2-rgb, 0.25);
        }
    }

    .gloss {
        border-radius: common.$background-panel-border-radius;
        @include common.glassy-background;
        background: none;
        border: none;
    }

    .wind-indicator {
        image {
            color: rgb(common.$accent-2-rgb);
        }
    }

    .hourly-list {
        .hourly-weather-item {
            padding: 12px 24px 12px 0;
            font-size: 20px;
        }
    }
}
