@use "../common";

.finance {
    border-radius: common.$background-panel-border-radius;
    @include common.glassy-background;
    box-shadow: none;

    .ticker {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .change {
        font-weight: 600;

        image {
            &.positive {
                color: #93d536;
            }

            &.negative {
                color: #de2e1e;
                transform: scaleY(-1);
            }
        }
    }

    .page-selector {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .page-selector button,
    .stock-item {
        border-radius: 0;
        font-weight: 500;
        padding: 12px 0;

        &:not(:hover):not(:active):not(:checked) {
            background-color: transparent;
        }
    }

    .stock-item {
        padding: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:last-child {
            margin-bottom: -1px;
        }

        &:not(:hover):not(:active):not(:checked) {
            background-color: transparent;
        }

        &:not(:hover):not(:active):checked {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    .gloss {
        border-radius: common.$background-panel-border-radius;
        @include common.glassy-background;
        background: none;
        border: none;
    }

    .graph-container {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        // background-color: rgba(0, 0, 0, 0.4);

        .graph {
            background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
                linear-gradient(
                    0deg,
                    transparent 9%,
                    rgba(255, 255, 255, 0.2) 10%,
                    rgba(255, 255, 255, 0.2) 12%,
                    transparent 13%,
                    transparent 29%,
                    rgba(255, 255, 255, 0.1) 30%,
                    rgba(255, 255, 255, 0.1) 31%,
                    transparent 32%,
                    transparent 49%,
                    rgba(255, 255, 255, 0.1) 50%,
                    rgba(255, 255, 255, 0.1) 51%,
                    transparent 52%,
                    transparent 69%,
                    rgba(255, 255, 255, 0.1) 70%,
                    rgba(255, 255, 255, 0.1) 71%,
                    transparent 72%,
                    transparent 89%,
                    rgba(255, 255, 255, 0.1) 90%,
                    rgba(255, 255, 255, 0.1) 91%,
                    transparent 92%,
                    transparent
                ),
                linear-gradient(
                    90deg,
                    transparent 9%,
                    rgba(255, 255, 255, 0.2) 10%,
                    rgba(255, 255, 255, 0.2) 12%,
                    transparent 13%,
                    transparent 29%,
                    rgba(255, 255, 255, 0.1) 30%,
                    rgba(255, 255, 255, 0.1) 31%,
                    transparent 32%,
                    transparent 49%,
                    rgba(255, 255, 255, 0.1) 50%,
                    rgba(255, 255, 255, 0.1) 51%,
                    transparent 52%,
                    transparent 69%,
                    rgba(255, 255, 255, 0.1) 70%,
                    rgba(255, 255, 255, 0.1) 71%,
                    transparent 72%,
                    transparent 89%,
                    rgba(255, 255, 255, 0.1) 90%,
                    rgba(255, 255, 255, 0.1) 91%,
                    transparent 92%,
                    transparent
                );
            background-size: 50px 50px;
        }
    }
}
