@use "../common";

window.VolumeChange {
    @include common.glassy-background-dark;
    box-shadow: inset 0 0 1px 3.5px rgba(255, 255, 255, 0.07), inset 0 0 0 1px rgba(255, 255, 255, 0.15),
        0 0 16px 0 rgba(0, 0, 0, 0.3);
    font-size: 28px;
    font-weight: 500;
    margin: 16px;
    padding: 36px 48px;
    border-radius: 24px;
}
