@use "../common";

window.Shutdown {
    background: rgba(0, 0, 0, 0.4);

    .shutdown-label {
        font-size: 36px;
    }

    .session-buttons-container {
        button.shutdown-button {
            border-radius: 24px;
            min-width: 160px;
            min-height: 160px;
            padding: 0;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
            background: none;

            > * {
                background: rgba(20, 20, 20, 0.8);
                box-shadow: inset 0 0 1px 4px rgba(255, 255, 255, 0.075), inset 0 0 0 1px rgba(255, 255, 255, 0.2);
                border-radius: 24px;
                transition: all 0.15s ease;

                &:hover {
                    background: rgba(30, 30, 30, 0.8);
                }

                &:active {
                    background: rgba(40, 40, 40, 0.8);
                }

                label {
                    font-size: 16px;
                    font-weight: 400;
                    opacity: 0.5;
                }
            }
        }

        box:last-child > button.shutdown-button:last-child > * {
            background: rgba(45, 0, 4, 0.8);

            &:hover {
                background: rgba(85, 0, 7, 0.8);
            }

            &:active {
                background: rgba(100, 0, 8, 0.8);
            }
        }
    }
}
