@use "common.scss";

window.Appearance {
    background: common.$bg-color;

    main {
        .buttons-bar {
            padding: 12px;

            .accent-preview {
                border-radius: 8px;
            }
        }
    }

    .wallpaper {
        margin: 16px;
        border-radius: 12px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 3px rgba(255, 255, 255, 0.1);
    }

    .wallpaper-gloss {
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin: 16px;
        border-radius: 12px;
        box-shadow: inset 0 0 3px 0 rgba(255, 255, 255, 0.1);
    }
}
