@use "../common";

.news {
    border-radius: common.$background-panel-border-radius;
    @include common.glassy-background;
    box-shadow: none;

    .news-item {
        padding: 24px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    .picture {
        border-radius: 12px;
        margin: 8px 0;
        background-color: rgba(255, 255, 255, 0.1);

        picture {
            border-radius: 12px;
        }

        .picture-gloss {
            border-radius: 12px;
            box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.15), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        }
    }

    .title {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .gloss {
        border-radius: common.$background-panel-border-radius;
        @include common.glassy-background;
        background: none;
        border: none;
    }
}
