// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$accent-1-rgb: #{"var(--shell-accent-1-rgb)"};
$accent-2-rgb: #{"var(--shell-accent-2-rgb)"};
$accent-1: #{"rgb(var(--shell-accent-1-rgb))"};
$accent-2: #{"rgb(var(--shell-accent-2-rgb))"};
$font: Adwaita Sans;

:root {
    font-family: $font;
    font-weight: 400;
}

tooltip {
    background: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    border: none;
}

button {
    background: none;
    border: none;
    transition: all 0.2s ease;
    border-radius: 8px;

    &.circular {
        border-radius: 99999px;
    }

    background: rgba(255, 255, 255, 0.1);

    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }

    &:active,
    &:checked {
        background: rgba(255, 255, 255, 0.2);
    }

    &:hover:active,
    &:hover:checked {
        background: rgba(255, 255, 255, 0.25);
    }
}

scale {
    trough {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        min-height: 5px;

        highlight {
            background: linear-gradient(45deg, $accent-1, $accent-2);
        }

        slider {
            background-image: none;
            border: none;
        }
    }
}

dropdown {
    border-radius: 8px;

    row {
        transition: all 0.2s ease;
    }

    popover {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 0 1px 3px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 2px;
        margin: 6px 0 0;

        listview {
            background: none;
            padding: 0;
            margin: 7px 0;
        }

        row {
            padding: 0;
            border-radius: 6px;

            background: transparent;

            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }

            &:active,
            &:checked {
                background: rgba(255, 255, 255, 0.15);
            }

            &:hover:active,
            &:hover:checked {
                background: rgba(255, 255, 255, 0.2);
            }

            > box {
                padding: 8px 12px;
            }
        }
    }
}

switch {
    border: none;
    padding: 4px;
    transition: all 0.2s ease;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 9999px;

    &:checked {
        background: $accent-2;
    }

    slider {
        background-image: none;
        border: none;
    }
}

@mixin cross-helper {
    background: linear-gradient(
            to right,
            transparent calc(50% - 1px),
            red calc(50% - 1px),
            red calc(50% + 2px),
            transparent calc(50% + 2px)
        ),
        linear-gradient(
            to bottom,
            green calc(50% - 1px),
            red calc(50% - 1px),
            red calc(50% + 2px),
            green calc(50% + 2px)
        );
}

@mixin glassy-background {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.2);
}

@mixin glassy-background-dark {
    background: rgba(20, 20, 20, 0.6);
    box-shadow: inset 0 0 1px 4px rgba(255, 255, 255, 0.1);
}

@mixin glassy-chip {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}

@mixin glassy-chip-button {
    @include glassy-chip;
    background-image: none;
    transition: all 0.2s ease;
    font-weight: 400;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    &:active,
    &:checked {
        background: rgba(255, 255, 255, 0.25);
    }

    &:hover:active,
    &:hover:checked {
        background: rgba(255, 255, 255, 0.3);
    }
}

.glassy-background {
    @include glassy-background;
}

.glassy-background-dark {
    @include glassy-background-dark;
}

.glassy-chip {
    @include glassy-chip;
}

.glassy-chip-button {
    @include glassy-chip-button;
}

.fading {
    transition: all 0.1s linear;

    &:not(.visible) {
        opacity: 0;
    }

    &.visible {
        opacity: 1;
    }
}

@mixin popover-standard {
    margin: 10px 0 0 0;
    border-radius: 18px;

    contents {
        border: none;
        padding: 0;
        background: none;
        box-shadow: none;

        .popover-standard-inner {
            border-radius: 18px;
        }
    }
}

.popover-standard-dark {
    @include popover-standard;
    @include glassy-background-dark;
}

.popover-title {
    font-size: 22px;
    font-weight: 600;
    padding: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    > image {
        margin: 0 12px 0 0;
        -gtk-icon-size: 24px;
    }

    button:not(.corner) {
        @include glassy-chip-button;
        font-size: 16px;
        font-weight: 500;
        padding: 6px 12px;
        min-height: 24px;
    }

    button.corner {
        @include glassy-chip-button;
        image {
            -gtk-icon-size: 16px;
        }
    }
}

.popover-tray {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 6px;

    .popover-tray-item {
        background: transparent;
        min-height: 48px;
        padding: 0 12px;

        label {
            font-size: 16px;
            font-weight: 400;
        }

        .checkmark {
            margin-left: 12px;
            -gtk-icon-size: 16px;
        }
    }

    button.popover-tray-item:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.popover-button-list {
    padding-bottom: 24px;

    .popover-button-list-item {
        border-radius: 0;
        padding: 0 24px;
        background: transparent;
        font-weight: 400;
        font-size: 18px;
        min-height: 64px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        label {
            font-size: 16px;
            font-weight: 400;
        }

        .popover-button-list-item-icon {
            margin-right: 18px;
            -gtk-icon-size: 24px;
            margin-right: 24px;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        &:active {
            background: rgba(255, 255, 255, 0.2);
        }

        &:last-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}

.popover-icon-button {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.1);
    min-height: 48px;
    padding: 0 18px;
    border-radius: 12px;

    label {
        font-size: 16px;
        font-weight: 400;
    }

    image:first-child {
        margin-right: 18px;
        -gtk-icon-size: 24px;
    }

    image:last-child {
        margin-left: 12px;
        -gtk-icon-size: 16px;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.glassy-menu {
    padding: 10px 0 12px 0;
    font-weight: 400;
    font-size: 16px;

    .glassy-menu-stack {
        @include glassy-background-dark;
        border-radius: 18px;

        > * {
            padding: 12px;
        }
    }

    contents {
        font-family: $font;
        background: none;
        box-shadow: none;
        border: none;
        border-radius: 18px;
    }

    separator {
        margin: 8px 0;
        background-color: rgba(255, 255, 255, 0.1);
    }

    popover {
        margin: 0 12px;
    }

    modelbutton {
        padding: 4px 12px;
        border-radius: 8px;
        min-height: 32px;
        min-width: 160px;
        transition: all 0.2s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    contents contents {
        margin: 0 6px;
    }
}

.gloss {
    border-radius: 12px;
    box-shadow: inset 0 0 3px 0 rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.notif-bar-item {
    padding: 24px;
    box-shadow: inset 0 0 3px 0 rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;

    image {
        -gtk-icon-size: 32px;
        margin: 0 18px 0 8px;
    }

    .title {
        font-size: 18px;
        font-weight: 600;
    }

    .date {
        font-size: 13px;
        font-weight: 500;
        margin-left: 24px;
    }

    .body {
        padding: 8px 0 18px 0;
        font-size: 16px;
    }

    .action-button {
        @include glassy-chip-button;
        font-size: 15px;
        font-weight: 500;
        margin: 0;
    }
}

window.NewNotification {
    border-radius: 18px;
    padding: 0;

    .notif-bar-item {
        padding: 24px 24px 24px 18px;
        @include glassy-background-dark;
    }
}

window.Bar {
    color: $fg-color;
    font-family: $font;

    > main {
        padding: 8px 8px 0 8px;

        main-inner {
            @include glassy-background;
            border-radius: 12px;
            padding: 6px;

            .bar-button,
            .bar-chip {
                font-size: 16px;
                font-weight: 400;
                -gtk-icon-size: 16px;
                border-radius: 8px;
                margin: 0;
                border: none;
                min-height: 32px;

                image {
                    min-width: 16px;
                }

                &button,
                > button,
                > menubutton > button,
                &.system-tray > .tray-icon > menubutton > button {
                    -gtk-icon-size: 16px;
                    background: none;
                    min-width: 20px;
                    padding: 0 12px;

                    &:hover,
                    &:active {
                        background: rgba(255, 255, 255, 0.2);
                    }
                }
            }

            .bar-chip {
                @include glassy-chip;
            }

            .bar-button {
                @include glassy-chip-button;
            }

            menubutton.bar-button {
                padding: 0;

                > button {
                    border: none;
                    box-shadow: none;
                    background: none;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .bar-group {
                @include glassy-chip;
                background: transparent;

                .bar-button,
                .bar-chip {
                    border: none;
                    box-shadow: none;
                    border-radius: 0;
                    min-width: 32px;

                    &button,
                    > button,
                    > menubutton > button,
                    &.system-tray > .tray-icon > menubutton > button {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

media-controls {
    .instance {
        padding-left: 12px;
        opacity: 0.7;
    }

    .bars {
        border-radius: 8px;
    }

    .media-controls-button-content {
        image {
            margin-right: 12px;
        }
    }

    .popover-standard-dark {
        box-shadow: none;

        .popover-title {
            > image:first-child {
                margin-right: 18px;
            }
        }
    }

    .cover-art-background {
        border-radius: 18px;
        box-shadow: inset 0 0 1px 4px rgba(255, 255, 255, 0.15);

        > * {
            min-width: 64px;
            min-height: 64px;
            filter: blur(8px);
            margin: -32px;
            background-size: cover;
            background-position: center;
            border-radius: 18px;
            opacity: 0.7;
            transition: background-image 0.3s ease;
        }
    }

    .cover-art {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 12px;
        background-size: cover;
        background-position: center;
        min-width: 128px;
        min-height: 128px;
    }

    .media-controls-inner {
        border-radius: 18px;
        padding: 18px;

        .song-info-box {
            background-color: rgba(10, 10, 10, 0.6);
            padding: 12px;
            border-radius: 0 12px 12px 0;

            .artist-label,
            .album-label {
                font-size: 16px;
                opacity: 0.8;
                font-weight: 500;
            }

            .title-label {
                font-size: 20px;
                font-weight: 600;
            }
        }

        scale {
            padding: 24px 12px;
            highlight {
                background: var(--slider-color);
            }
        }

        .slider-labels {
            margin: 0 -18px 0 -18px;

            label {
                background: rgba(10, 10, 10, 0.6);
                padding: 8px 24px;
                min-width: 90px;

                &:first-child {
                    border-radius: 0 999px 999px 0;
                    padding-right: 0;
                }

                &:last-child {
                    border-radius: 999px 0 0 999px;
                    padding-left: 0;
                }
            }
        }
    }

    .buttons-box {
        button {
            background-color: rgba(10, 10, 10, 0.6);

            &:hover {
                background-color: rgba(40, 40, 40, 0.6);
            }

            &:active {
                background-color: rgba(60, 60, 60, 0.6);
            }
        }

        button.play-pause {
            -gtk-icon-size: 28px;
        }
    }
}

.dash-menu-button {
    .user-box-container {
        margin-bottom: 24px;
        border-radius: 18px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);

        .popover-title {
            border-radius: 18px 18px 0 0;
            border: none;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, transparent 70%);
        }

        .user-box-background {
            min-width: 16px;
            min-height: 16px;
            margin: -8px;
            background-position: -25%;
            filter: blur(8px) brightness(0.8);
        }

        .user-box-gloss {
            box-shadow: inset 0 0 6px 1px rgba(255, 255, 255, 0.4);
            border-radius: 18px;
        }

        .user-box {
            padding: 90px 18px 18px 18px;

            .avatar,
            .gloss {
                border-radius: 12px;
            }

            .username {
                font-size: 28px;
                font-weight: 600;
            }
        }
    }
}

.updates {
    min-width: 0;
    padding-right: 0;

    .package {
        padding: 18px 24px;
        font-size: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .version {
            font-size: 14px;
            opacity: 0.6;
        }
    }

    scrolledwindow > * {
        padding-bottom: 24px;
    }
}

.eye-candy {
    .popover-button-list-item {
        padding: 18px 24px;
        min-height: 0;

        .popover-button-list-item-icon {
            -gtk-icon-size: 16px;
        }

        &:first-child {
            border: none;
        }

        .title {
            padding-bottom: 2px;
            font-size: 18px;
            font-weight: 500;
        }

        .description {
            font-size: 16px;
            opacity: 0.6;
            font-weight: 400;
        }
    }
}

.audio-controls {
    .volume-control-box {
        padding: 24px;

        > image {
            -gtk-icon-size: 24px;
            min-width: 32px;
        }

        scale {
            padding: 0 12px;
        }
    }
}

.notif-bar-button {
    .notif-bar-items {
        .notif-bar-item {
            border-radius: 0;
            box-shadow: none;
            background: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 24px;

            image {
                -gtk-icon-size: 32px;
                margin: 0 18px 0 0;
            }
        }
    }

    .no-notifications-box {
        font-size: 18px;

        label {
            opacity: 0.4;
        }
    }
}

.weather {
    > menubutton {
        min-width: 90px;
        padding: 0;
    }

    .hourly-weather-item {
        padding: 24px 0;
        font-size: 20px;

        .date {
            font-size: 14px;
            opacity: 0.6;
        }

        .time {
            font-size: 18px;
        }

        .weather-type-icon {
            -gtk-icon-size: 48px;
        }

        &:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }

        .rain-probability {
            font-size: 16px;
            opacity: 0.6;
        }
    }
}

calendar {
    border: none;

    header {
        padding: 12px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .month,
        .year {
            padding: 0 8px;
        }

        button {
            border-radius: 8px;
        }
    }

    grid {
        padding: 12px;

        label {
            transition: background 0.4s ease;
            border-radius: 8px;
            margin: 3px;
            outline: none;
            padding: 10px 0;

            &:hover {
                background: rgba(255, 255, 255, 0.1);
            }

            &:selected {
                background: $accent-1;
                font-weight: 600;
            }
        }

        .day-name {
            background: rgba(255, 255, 255, 0.05);
            border-radius: 0;
            margin: 3px 0;
            font-weight: 600;

            &:first-child {
                border-radius: 8px 0 0 8px;
                margin-left: 4px;
            }

            &:nth-child(7) {
                border-radius: 0 8px 8px 0;
                margin-right: 4px;
            }
        }
    }
}

.network-bar-button {
    .connection-enabled {
        min-height: 56px;

        .connection-id {
            font-size: 12px;
            opacity: 0.6;
            font-weight: 400;
            padding-bottom: 2px;
        }
    }
}

window.Dock {
    background: transparent;
    color: $fg-color;
    font-family: $font;
    font-weight: 300;
    font-size: 16px;

    // transition: opacity linear 0.1s;

    // &.concealed {
    //     &:not(:hover) {
    //         // space won't be allocated if it's actually 0
    //         opacity: 0.0000000001;
    //     }
    // }

    main {
        border-radius: 12px;
        padding: 0 8px 8px 8px;
    }

    .popover-standard-dark {
        margin-bottom: -3px;
    }

    main-inner {
        @include glassy-background;
        border-radius: 12px;
        padding: 0 8px;

        .dock-item {
            margin: 0;
            padding: 0;
            background: transparent;

            .squircle,
            .squircle-danger {
                opacity: 0;
                transition: opacity 0.2s ease;
            }

            &:hover {
                > .squircle {
                    opacity: 0.5;
                }
            }

            .trash-idle {
                .squircle {
                    opacity: 0;
                }

                .squircle-danger {
                    opacity: 0;
                }
            }

            .trash-hover {
                .squircle {
                    opacity: 0.5;
                }

                .squircle-danger {
                    opacity: 0;
                }
            }

            .trash-killing {
                button {
                    opacity: 0;
                }

                .squircle-danger {
                    opacity: 0.7;
                }
            }

            @keyframes wiggle {
                0% {
                    transform: rotate(0);
                }

                25% {
                    transform: rotate(15deg);
                }

                50% {
                    transform: rotate(0);
                }

                75% {
                    transform: rotate(-15deg);
                }

                100% {
                    transform: rotate(0);
                }
            }

            &.opening .icon-image {
                animation: wiggle linear 0.5s 3;
            }

            & > button {
                padding: 0;
                background: transparent;

                &:hover {
                    .squircle {
                        opacity: 0.5;
                    }
                }

                &:checked {
                    .squircle {
                        opacity: 0.75;
                    }
                }
            }

            &.active {
                > .squircle {
                    opacity: 1;
                }

                > button {
                    .squircle {
                        opacity: 1;
                    }
                }
            }
        }

        .notif-count {
            background-color: $accent-2;
            margin: 0 3px 8px 0;
            padding: 1px 5px;
            font-weight: 600;
            border-radius: 4px;
            font-size: 14px;
            box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.2);
        }

        .search-icon {
            padding: 0;
            background: none;

            .squircle {
                opacity: 1;
                filter: brightness(1.1);
                transition: filter 0.4s ease;
            }

            &:hover {
                .squircle {
                    opacity: 1;
                    filter: brightness(1.4);
                }
            }
        }

        separator {
            margin: 16px 0;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.workspace-switcher {
    border-radius: 8px;
    padding: 0 6px;

    button {
        @include glassy-chip-button;
        min-width: 36px;
        padding: 0;
        border-radius: 6px;
        font-size: 15px;
        font-weight: 500;

        &.active {
            background-color: $accent-1;
        }
    }
}

.game-launcher-flow-box {
    padding: 24px 24px 0 24px;

    flowboxchild {
        padding: 0;
    }

    .game-launcher-button,
    .game-launcher-thumb {
        background-size: cover;
        border-radius: 12px;
        padding: 0;
        margin: 0;
    }

    .game-launcher-thumb-gloss {
        box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.2);
        border-radius: 12px;

        background: transparent;
        transition: background 0.1s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        &:active {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

menubutton.mpd {
    .mpd-album-button,
    .mpd-album-thumb {
        border-radius: 12px;
        padding: 0;
        margin: 0;

        .title {
            font-size: 16px;
            font-weight: 500;
            padding: 8px 8px 0 8px;
        }

        .artist {
            font-size: 14px;
            font-weight: 400;
            opacity: 0.6;
            padding: 0 8px 8px 8px;
        }
    }

    .mpd-album-thumb {
        background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 12px 12px 0 0;
    }

    .mpd-album-gloss {
        box-shadow: inset 0 0 4px 0 rgba(255, 255, 255, 0.2);
        border-radius: 12px;

        background: transparent;
        transition: background 0.1s ease;
    }

    .mpd-flow-box {
        padding: 24px 24px 0 24px;

        flowboxchild {
            padding: 0;
        }

        button {
            background-color: rgba(196, 196, 196, 0.1);
        }

        button:hover {
            .mpd-album-gloss {
                background: rgba(255, 255, 255, 0.1);
            }
        }

        button:active {
            .mpd-album-gloss {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .popover-button-list {
        .mpd-album-title-box {
            padding: 24px;

            .title {
                font-size: 18px;
                font-weight: 500;
            }

            .artist {
                font-size: 16px;
                font-weight: 400;
                opacity: 0.6;
            }

            .mpd-album-thumb,
            .mpd-album-gloss {
                border-radius: 12px;
            }
        }

        .mpd-song-button.popover-button-list-item {
            .title {
                font-size: 16px;
                font-weight: 400;
            }

            .artist {
                font-size: 14px;
                opacity: 0.6;
                margin-top: 4px;
            }

            .track {
                padding-right: 24px;
            }

            .time {
                font-size: 14px;
                font-weight: 400;
                opacity: 0.6;
                padding-left: 12px;
            }

            &.current {
                background-color: rgba($accent-2-rgb, 0.2);

                &:hover {
                    background-color: rgba($accent-2-rgb, 0.4);
                }

                &:active {
                    background-color: rgba($accent-2-rgb, 0.5);
                }
            }
        }
    }
}

window.Shutdown {
    background: rgba(0, 0, 0, 0.5);

    main {
        @include glassy-background-dark;
        border-radius: 24px;

        main-inner {
            padding: 48px;
        }
    }

    .shutdown-label {
        font-size: 36px;
    }

    .session-buttons-container {
        .shutdown-button {
            button {
                -gtk-icon-size: 28px;
                min-width: 80px;
                min-height: 80px;
            }

            &:last-child {
                button {
                    background-color: rgba(255, 0, 20, 0.4);

                    &:hover {
                        background-color: rgba(255, 0, 20, 0.6);
                    }
                }
            }

            > label {
                padding-top: 8px;
                font-size: 16px;
                font-weight: 400;
                opacity: 0.5;
            }
        }
    }
}

window.VolumeChange {
    border-radius: 24px;
    background: transparent;

    main-inner {
        border-radius: 24px;
        @include glassy-background-dark;

        .current-volume {
            padding: 36px 48px;
            font-size: 28px;
            font-weight: 500;

            image {
                margin-right: 24px;
                -gtk-icon-size: 32px;
            }

            .volume {
                margin-left: 12px;
                min-width: 70px;
            }
        }
    }
}

window.Appearance {
    background: $bg-color;
    font-size: 18px;

    main-inner {
        border-radius: 24px;
        padding: 24px;

        .picture-box {
            border-radius: 12px;

            .wallpaper {
                border-radius: 12px;
                background-color: rgba(0, 0, 0, 0.4);
            }

            .gloss {
                border-radius: 12px;
            }
        }

        .colors-row {
            padding-top: 24px;
        }

        .buttons-row {
            padding-top: 24px;

            button {
                border-radius: 8px;
            }

            .accent-preview {
                border-radius: 9999px;
            }
        }
    }
}

window.BackgroundVisualizer {
    .background-clock {
        margin: -24px 0 0 0;
        font-family: Staatliches;
        font-weight: 600;

        .time {
            margin-right: 48px;
            font-size: 350px;
            color: rgba(255, 255, 255, 0.3);
        }

        .date {
            font-size: 250px;
            margin: -140px 48px 0 0;
            color: $accent-2;
            opacity: 0.3;
        }
    }

    polyhedron {
        min-height: 200px;
        min-width: 75px;
    }
}
